Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
#AlignConsecutiveAssignments: true

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: None
#AllowShortFunctionsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

DerivePointerAlignment: false

IndentWidth: 4
TabWidth: 4

# 每行字符的长度
ColumnLimit: 108